################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MvvmLazyControl/bin/x86/Debug
/MvvmLazyControl/obj
/MvvmLazyControl/project.lock.json
/MvvmLazyControl/MvvmLazyControl.csproj.user
